// В этом файле должны быть стили для БЭМ-блока about, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.about {

  $block-name:                &; // #{$block-name}__element

  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: $screen-md) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__inner {
    margin-bottom: 60px;

    @media (min-width: $screen-md) {
      margin-bottom: 120px;
    }

    p {
      color: $color-gray;
    }

    .btn {
      margin-top: 40px;
    }
  }

  &__inner {
    @include row;
  }
  &__text {
    @include col();
    @include col(xl, 7);
    margin-bottom: 40px;

    @media (min-width: $screen-lg) {
      padding-right: 60px !important;
    }
  }
  &__gallery {
    @include col();
    @include col(xl, 5);
  }

  @media (max-width: ($screen-md - 1)) {
    .h1 {
      font-size: 2.5rem;
      text-align: center;
    }
  }

}
