// В этом файле должны быть стили для БЭМ-блока profile, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.profile {

  $block-name:                &; // #{$block-name}__element

  padding: 40px 0 90px;

  &__inner {
    @include row;
    align-items: flex-end;
  }

  &__form-wrap {
    @include col();
    @include col(lg, 7);
    margin-bottom: 40px;
  }

  &__image {
    @include col();
    @include col(lg, 5);
    margin-bottom: 40px;

    @media (max-width: ($screen-lg - 1)) {

      text-align: center;

      img {
        max-width: 480px;
        width: 100%;
        padding: 20px;
      }
    }
  }

}
