// В этом файле должны быть стили для БЭМ-блока section-title, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.section-title {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  font-size: $font-size--h1;

  &:before {
    content: "";
    height: 1px;
    width: 100%;
    background: $color-main;
    opacity: 0.3;
    position: absolute;
    right: 100%;
    top: 50%;
  }
}
