// В этом файле должны быть стили для БЭМ-блока infographics, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.infographics {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;

  &__part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    font-size: 16px;
    color: $text-color--muted;
    line-height: 1.5;
  }

  &__box {
    width: 41vw;
    height: 41vw;
    background-image: url('../img/infographics-box-img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
